.navbar-nav>.user-menu>.dropdown-menu{
    width: auto;
    min-width: 100px;
}
#openadm_content .nav-tabs > li{
    height:38px;
    margin-right:0;
}
#openadm_content .nav-tabs > li > a{
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    font-size: 13px;
    line-height: 38px;
    padding: 0 15px;
    margin-right:0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-radius: 0;
    border-top: none;
}